.cart-confirm {
    position: relative;
    dispaly: block;
    width: 100%;
    background: #eee;
    padding: 20px 0;
    margin: 0;
    overflow: hidden;
}

.cart-confirm-wrap {
    position: relative;
    dispaly: block;
    width: 70%;
    margin: 0 auto;
}

.cart-confirm h2 {
	margin-top: 0;
}