.deliveryorder-text{
	height: 21px !important;
	-webkit-box-sizing : border-box;‌​
    -moz-box-sizing : border-box;
    box-sizing : border-box;
	
}

input[type=phone]{
	width: 100%;
	letter-spacing: 1px;
	padding-left: 5px;
}
.number-col{
	/*position: relative;*/
}

.number-code{
float: left;
width: 45px;
border: 1px solid #7692ad;
background: #f0f0f0;
height: 19px;
margin-right: -1px;
font-size: 11px;
line-height: 19px;
color: #000;
position: relative;
cursor: pointer;
text-indent: -12px;
padding: 0;
text-align: center;
}

.number-code:after{
content: '';
width: 0;
height: 0;
border-style: solid;
border-width: 4px 3.5px 0 3.5px;
border-color: #888888 transparent transparent transparent;
position: absolute;
top: 9px;
right: 6px;
}
.number-wrap{
	width: 80%;
}

.number-input{
	display: block;
overflow: hidden;
}
.country-code{
	position: absolute;
	margin: 0;
	font-size: 11px;
	border: 1px solid #7692ad;
	background: #f0f0f0;
	z-index: 9;
	width: 130px;
	margin-left: -85px;
	padding: 3px 0 3px;
	visibility: hidden;
	left: initial !important;
}
.country-code.active{
	visibility: visible;
}

.country-code li{
	list-style: none;
	padding: 3px 0 3px;
	color: #000;
	margin-left: -1px;
	margin-right: -1px;
	padding: 2px 12px 3px 12px; 
	background: none;
	cursor: pointer;
}
.country-code li span{
	float: right;
}
.country-code li:hover{
	background: #87898b;
	color: #fff;
}