.sprite-icon {
	display: block;
	background-image: url(../i/sprite.png?v=11);
	background-repeat: no-repeat;
}

.i-auth {
	width: 11px;
	height: 12px;
	background-position: 0px 0;
}

.i-search {
	width: 11px;
	height: 11px;
	background-position: -11px 0;
}

.i-available {
	width: 6px;
	height: 5px;
	background-position: -22px 0;
}
.i-not-available {
	width: 6px;
	height: 5px;
	background-position: -138px 0;
}

.i-contacts {
	width: 7px;
	height: 11px;
	background-position: -28px 0;
}

.is-empty .i-cart {
	width: 13px;
	height: 9px;
	background-position: -35px 0;
}

.i-slide-down {
	width: 5px;
	height: 3px;
	background-position: -48px 0;
}

.is-selected .i-slide-down {
	width: 5px;
	height: 3px;
	background-position: -53px 0;
}

.i-cart {
	width: 13px;
	height: 9px;
	background-position: -58px 0;
}

.i-hint-tail {
	width: 17px;
	height: 9px;
	background-position: -71px 0;
}

.i-hint-close {
	width: 9px;
	height: 9px;
	background-position: -88px 0;
}

.i-item-delete {
	width: 11px;
	height: 11px;
	background-position: -97px 0;
}

.i-item-delete:hover {
	width: 11px;
	height: 11px;
	background-position: -144px 0;
}

.i-item-delete:active {
	width: 11px;
	height: 11px;
	background-position: -108px 0;
}

.i-error-tail {
	width: 9px;
	height: 23px;
	background-position: -119px 0;
}

.i-loader {
	width: 10px;
	height: 8px;
	background-position: -128px 0;
}
	.i-loader_fork {
		background: #686868;
		width: 5px;
		height: 1px;
		display: block;
		position: absolute;
		left: 10px;
		bottom: 1px;
	}
	.i-loader_cargo {
		display: block;
		background: #fe0000;
		width: 6px;
		height: 4px;
	}
	
.i-compare {
	width: 14px;
	height: 13px;
	background-position: -155px 0;
}