* {
	padding:0;
	margin:0;
	border:0;
	outline:0;
	font-weight:normal;
	}
html {
	width:100%;
	height:100%;
	}
body {
	width:100%;
	height:100%;
	background-color:#332211;
	font-family:Arial, sans-serif;
	color:#fff;
	/*overflow-y:scroll;*/
	overflow:hidden;
	}
a {
	
	}
a:hover {
	
	}
ul, ol { list-style:none; }
sup { vertical-align:baseline; position:relative; top:-.4em; font-size:80%; }
	
h1 {
	font-family: ArchiveRegular, sans-serif;
	}
h2 {
	font-family: ArchiveRegular, sans-serif;
	}
h3 {
	font-family: ArchiveRegular, sans-serif;
	}

#loader {
	position:absolute;
	top:50%;
	left:50%;
	width:128px;
	height:128px;
	margin:-64px 0 0 -64px;
	background:url(../img/loader.gif) 0 0 no-repeat;
	}
	
#container {
	position:relative;
	z-index:1;
	width:100%;
	min-width:980px;
	min-height:100%;
	overflow:hidden;
	}
	#saw-container {
		display:none;
		position:fixed;
		z-index:9;
		top:25px;
		right:50%;
		width:162px;
		height:358px;
		margin-right:-12px;
		overflow:hidden;
		}
		.saw-shadow {
			position:absolute;
			z-index:9;
			top:40px;
			left:18px;
			width:134px;
			height:318px;
			background:url(../img/saw-shadow.png) 0 0 no-repeat;
			}
		#saw {
			position:absolute;
			z-index:9;
			top:0;
			left:0;
			width:162px;
			height:306px;
			background:url(../img/saw.png) 0 0 no-repeat;
			}
			#saw.rotate { background-image:url(../img/saw-sprite.png); }
	#dust {
		position:absolute;
		top:4px;
		right:0;
		display:none;
		width:318px;
		height:80px;
		background-image:url(../img/dust.png);
		background-repeat:no-repeat;
		}
		#saw.rotate #dust { display:block; }
	#cut {
		display:none;
		position:absolute;
		z-index:7;
		top:0;
		right:50%;
		width:21px;
		height:285px;
		margin:0 -16px 39px 0;
		background:url(../img/cut.png) 0 0 repeat-y;
		}
		#cut span {
			position:absolute;
			bottom:-39px;
			left:0;
			width:21px;
			height:39px;
			background:url(../img/cut-end.png) 0 0 no-repeat;
			}
	.plank {
		display:none;
		position:absolute;
		z-index:2;
		top:0;
		left:50%;
		width:1104px;
		height:100%;
		margin-left:-514px;
		background:url(../img/plank.jpg) 0 0 no-repeat;
		-webkit-background-size:1104px 3758px;
		-moz-background-size:1104px 3758px;
		background-size:1104px 3758px;
		}
	.forest-left {
		display:none;
		position:absolute;
		z-index:2;
		top:0;
		left:50%;
		width:514px;
		height:100%;
		margin-left:-1028px;
		background:url(../img/forest-left.jpg) 0 0 no-repeat;
		}
	.forest-right {
		display:none;
		position:absolute;
		z-index:2;
		top:0;
		right:50%;
		width:438px;
		height:100%;
		margin-right:-1027px;
		background:url(../img/forest-right.jpg) 0 0 no-repeat;
		}
		
#container.loaded .forest-left { display:block; }
#container.loaded .forest-right { display:block; }
#container.loaded .plank { display:block; }
		
		
.wrapper {
	width:960px;
	margin:0 auto;
	padding:0 10px;
	}
	
		
#content {
	display:none;
	position:relative;
	z-index:3;
	width:100%;
	}
	.page {
		visibility:hidden;
		position:relative;
		padding:30px 0 0 60px;
		width:900px;
		height:720px;
		}
	#content.vis .page { visibility:visible; }
	
	
header {
	position:fixed;
	z-index:10;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:30px;
	background-color:#fff;
	}
	header .wrapper {
		position:relative;
		height:30px;
		}
	header .wrapper:after {
		content:'';
		position:absolute;
		bottom:-7px;
		left:50%;
		display:block;
		width:19px;
		height:7px;
		margin-left:-9px;
		background:url(../img/sprite.png) 0 0 no-repeat;
		}
	#logo-kuvalda {
		float:left;
		margin:7px 0 0;
		}
	#logo-patriot {
		float:right;
		margin:6px 0 0;
		}
	

footer {
	position:fixed;
	z-index:10;
	bottom:0;
	left:0;
	display:block;
	width:100%;
	height:78px;
	
	background-color:#d0cbc7;
	}
	.footer-top {
		width:100%;
		height:36px;
		background:#332211 url(../img/bg-footer.png) 0 0 repeat-x;
		border-bottom:1px solid #0b0c0b;
		}
		.footer-top .wrapper { height:36px; }
	footer nav {
		float:left;
		}
		nav li {
			display:inline-block;
			vertical-align:top;
			margin:7px 30px 0 0;
			}
			nav li a {
				display:inline-block;
				vertical-align:top;
				font-family: ArchiveRegular, sans-serif;
				font-size:14px;
				line-height:24px;
				color:#fff;
				text-decoration:none;
				border-top:1px solid #6f686a;
				}
				nav li a:hover { border-color:transparent; }
				nav li a:active,
				nav li a.active {
					color:#f6642d;
					border-color:transparent;
					cursor:default;
					}
	footer .auth {
		float:right;
		position:relative;
		margin-top:10px;
		padding:0 0 0 20px;
		cursor:pointer;
		font-family: ArchiveRegular, sans-serif;
		font-size:14px;
		line-height:20px;
		color:#fff;
		}
		footer .auth:before {
			content:'';
			position:absolute;
			top:0;
			left:0;
			display:block;
			width:12px;
			height:16px;
			background:url(../img/sprite.png) -42px -24px no-repeat;
			}
	footer .logout {
		float:right;
		position:relative;
		margin-top:10px;
		padding:0 0 0 20px;
		cursor:pointer;
		font-family: ArchiveRegular, sans-serif;
		font-size:14px;
		line-height:20px;
		color:#fff;
		}
		footer .logout:before {
			content:'';
			position:absolute;
			top:4px;
			left:0;
			display:block;
			width:12px;
			height:12px;
			background:url(../img/sprite.png) 0 -10px no-repeat;
			}
	
	.footer-bottom {
		width:100%;
		border-top:1px solid #eae9ea;
		}
		.footer-bottom span {
			font-size:10px;
			line-height:40px;
			color:#31282a;
			text-transform:uppercase;
			margin-right:15px;
			}
			.footer-bottom span a {
				color:#31282a;
				text-decoration:none;
				font-weight:bold;
				}
				.footer-bottom span a:hover { color:#1d1819; }
		.footer-bottom span.copy {
			margin-right:90px;
			}
		.footer-bottom span.cp {
			float:right;
			margin-right:0;
			}
	
	
.page-content {
	position:relative;
	z-index:4;
	}
	
	.block {
		position:relative;
		width:159px;
		height:84px;
		background:url(../img/block.png);
		}
		.block-report {
			border-top:40px solid #31272a;
			margin-top:-40px;
			}
		.block p {
			padding-top:25px;
			text-align:center;
			font-family: ArchiveRegular, sans-serif;
			font-size:14px;
			line-height:14px;
			text-transform:uppercase;
			color:#d0cbc7;
			}
			.block p span {
				display:block;
				color:#f6642d;
				}
		.block img {
			position:absolute;
			left:50%;
			}
		.block a {
			display:block;
			width:100%;
			height:84px;
			text-decoration:none;
			}
			.block-patriot img {
				top:-55px;
				left:-15px;
				}
			.block-days img {
				top:-35px;
				margin-left:-25px;
				}
			.block-matches img {
				top:-40px;
				margin-left:-50px;
				}
			.block-rules img {
				top:-28px;
				margin-left:-18px;
				}
			.block-report img {
				top:-95px;
				margin-left:-75px;
				}
			
			
			
.cols  {
	clear:both;
	margin:0 40px;
	}
	.cols-top { padding-top:80px; }
	.cols .left { float:left; }
	.cols .right { float:right; }
	
	
.burn {
	position:absolute;
	top:0;
	left:50%;
	display:block;
	}
	.burn-dot-big {
		width:50px;
		height:40px;
		margin-left:-15px;
		background:url(../img/burn/dot-big.png) 0 0 no-repeat;
		}
	.burn-dot {
		width:21px;
		height:20px;
		margin-left:-2px;
		background:url(../img/burn/dot-small.png) 0 0 no-repeat;
		}
	.burn-line {
		width:17px;
		height:20px;
		margin-left:0;
		background:url(../img/burn/line.png) 0 0 repeat-y;
		}
		

.curve {
	width:100%;
	height:22px;
	background:url(../img/burn/curve.png) 0 0 repeat-x;
	}
		
		

#page-about {
	height:780px;
	}
	#content #page-about {
		visibility:visible;
		}
	#page-about .cols { display:none; }
	#page-about .cols-bot {
		padding-top:300px;
		}
	#page-about .burn-pic {
		display:none;
		width:448px;
		height:346px;
		margin:251px 0 0 -210px;
		background:url(../img/burn/about.jpg) 0 0 no-repeat;
		}
	#page-about .burn-dot-big {
		display:none;
		top:660px;
		}
	#page-about .burn-line {
		display:none;
		top:710px;
		height:135px;
		background-position:0 -136px;
		}
	#page-about h2 {
		font-size:14px;
		line-height:14px;
		text-transform:uppercase;
		text-align:center;
		}
		
		
#page-stages {
	height:840px;
	}
		
	.stage {
		position:relative;
		width:860px;
		height:170px;
		}
		.stage:after {
			content:'';
			display:block;
			clear:both;
			}
			
		.stage .burn-dot {
			top:20px;
			margin-left:-12px;
			}
		.stage .burn-line {
			top:50px;
			bottom:0px;
			margin-left:-10px;
			height:auto;
			background-position:0 100%;
			}
			
		.stage-title {
			position:relative;
			width:410px;
			margin-top:-10px;
			}
			.stage-frame {
				position:absolute;
				/*top:7px;
				width:193px;
				height:213px;*/
				top:15px;
				width:138px;
				height:152px;
				
				cursor:pointer;
				}
				.stage-frame img {
					width:100%;
					height:auto;
					}
				.stage-frame-icon {
					position:absolute;
					top:25%;
					width:60%;
					}
			.stage-title h2 {
				position:absolute;
				top:9%;
				left:0;
				width:88%;
				font-size:14px;
				line-height:18px;
				color:#c19a6e;
				text-align:center;
				}
					
		.stage-content {
			display:none;
			width:350px;
			overflow:hidden;
			}
				
		.stage-left {
			
			}
			.stage-left .stage-title {
				float:left;
				}
				.stage-left .stage-frame {
					right:0;
					}
					.stage-left .stage-frame-icon {
						left:42%;
						margin-left:-30%;
						}
			.stage-left .stage-content {
				float:right;
				}
				
		.stage-right {
			
			}
			.stage-right .stage-title {
				float:right;
				}
				.stage-right .stage-title h2 { margin-left:12%; }
				.stage-right .stage-frame {
					left:0;
					}
					.stage-right .stage-frame-icon {
						right:44%;
						margin-right:-30%;
						}
			.stage-right .stage-content {
				float:left;
				}
		
		
	.stage-opened {
	
		}
		.stage-opened .stage-frame { cursor:default; }
			.stage-opened .stage-title h2 { top:6%; }
				.stage-opened .stage-title h2 span {
					display:block;
					font-size:24px;
					}
					
	.stage-disabled .stage-frame { cursor:default; }
		
		
	.stage-text {
		text-align:center;
		padding:0 10px;
		}
		.stage-text h3 {
			font-size:24px;
			color:#000;
			padding-bottom:5px;
			}
		.stage-text p {
			font-size:12px;
			line-height:16px;
			color:#2a2123;
			font-weight:bold;
			}
			
		.stage-text .popup-show {
			font-family: ArchiveRegular, sans-serif;
			font-size:14px;
			color:#fff;
			padding-top:5px;
			}
			
	.stage-time {
		margin:10px 0;
		padding:10px 0;
		border-top:2px solid #000;
		border-bottom:2px solid #000;
		
		font-family: ArchiveRegular, sans-serif;
		text-align:center;
		}
		.stage-time h4 {
			font-size:18px;
			color:#000;
			}
			.stage-time h4 span { color:#fff; }
		.stage-time p {
			font-size:11px;
			line-height:16px;
			color:#31282b;
			}
			
	.stage-buttons {
		margin-top:20px;
		text-align:center;
		}
		.stage-buttons .button {
			margin:0 25px;
			}
			.stage-buttons .button b { color:#f6642d; }
		
		
button, .button {
	position:relative;
	display:inline-block;
	min-width:120px;
	height:28px;
	background-color:#000;
	
	font-family: ArchiveRegular, sans-serif;
	font-size:11px;
	line-height:28px;
	color:#fff;
	text-align:center;
	
	cursor:pointer;
	
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.15);
	box-shadow:0 1px 0 rgba(0,0,0,0.15);
	}
	button:before, .button:before {
		content:'';
		position:absolute;
		top:0;
		left:-20px;
		display:block;
		width:20px;
		height:29px;
		background:url(../img/sprite.png) -58px -23px no-repeat;
		}
	button:after, .button:after {
		content:'';
		position:absolute;
		top:0;
		right:-20px;
		display:block;
		width:20px;
		height:29px;
		background:url(../img/sprite.png) -80px -23px no-repeat;
		}
		
		
		
	.page-header {
		text-align:center;
		}
		.page-header:after {
			content:'';
			display:block;
			clear:both;
			}
		.page-header .curve { margin-top:10px; }
			.page-header .curve-left { float:left; }
			.page-header .curve-right { float:right; }
		.page-header .title { margin:0 auto; }
		
#page-jury {
	height:660px;
	}
	#page-jury .page-content {
		padding-top:165px;
		}
		#page-winners+#page-jury .page-content {
			padding-top:0;
			}
	#page-jury .burn-line {
		top:-38px;
		margin-left:-30px;
		height:80px;
		}
		 #page-jury .burn-line-bot {
			top:auto;
			bottom:90px;
			margin-left:0;
			height:0;
			background-position:0 100%;
			}
	#page-jury .burn-pic-cup {
		width:62px;
		height:78px;
		margin:45px 0 0 -54px;
		background:url(../img/burn/cup.png) 0 0 no-repeat;
		}
		
	#page-jury .page-header {
		margin-left:-25px;
		width:900px;
		}
		#page-jury .page-header .curve-left {
			width:300px;
			margin-left:30px;
			background-position:-15px 0;
			}
		#page-jury .page-header .curve-right {
			width:330px;
			background-position:-12px 0;
			}
		
	#page-jury .title {
		width:190px;
		height:45px;
		background:url(../img/title/jury.png) 0 0 no-repeat;
		text-indent:-9999px;
		}
	
	#page-jury .text {
		margin:0 0 30px 0;
		text-align:center;
		}
		#page-jury .text p {
			font-size:12px;
			line-height:16px;
			color:#2a2123;
			font-weight:bold;
			}
	
	.jury-list {
		width:860px;
		text-align:center;
		padding-top:30px;
		}
		.jury-list li {
			display:inline-block;
			vertical-align:top;
			margin:0 15px;
			}
			.jury-list h2 {
				font-size:18px;
				line-height:24px;
				color:#fff;
				padding-top:5px;
				}
				.jury-list h2 span {
					font-size:30px;
					display:block;
					}
			.jury-list strong {
				display:block;
				font-size:11px;
				line-height:18px;
				color:#fff;
				text-transform:uppercase;
				margin:10px 0;
				}
				.jury-list strong a {
					color:#fff;
					text-decoration:none;
					}
					.jury-list strong a:hover {
						background-color:#f6642d;
						/*text-decoration:underline;*/
						}
			.jury-list p {
				width:169px;
				font-size:12px;
				line-height:16px;
				color:#2a2123;
				font-weight:bold;
				margin:0 auto;
				}
		.photo {
			width:179px;
			height:180px;
			background:url(../img/burn/photo.png) 0 0 no-repeat;
			padding-top:24px;
			}
		
	.jury-list .total {
		margin-top:36px;
		border-top:1px solid #fff;
		border-bottom:1px solid #fff;
		}
		.jury-list .total h2 { padding-bottom:6px; }
		.jury-list .total h2 span {
			font-size:72px;
			line-height:72px;
			}
			
#page-winners {
	height:660px;
	}
	#page-winners .page-content {
		padding-top:165px;
		}
	#page-winners .burn-line {
		top:-38px;
		margin-left:-30px;
		height:80px;
		}
	#page-winners .burn-pic-cup {
		width:62px;
		height:78px;
		margin:45px 0 0 -54px;
		background:url(../img/burn/cup.png) 0 0 no-repeat;
		}
		
	#page-winners .page-header {
		margin-left:-25px;
		width:900px;
		}
		#page-winners .page-header .curve-left {
			width:220px;
			margin-left:30px;
			background-position:-15px 0;
			}
		#page-winners .page-header .curve-right {
			width:250px;
			background-position:-12px 0;
			}
		
	#page-winners .title {
		width:387px;
		height:47px;
		background:url(../img/title/winners.png) 0 0 no-repeat;
		text-indent:-9999px;
		}
	
	#page-winners .text {
		margin:0 0 30px 0;
		text-align:center;
		}
		#page-winners .text p {
			font-size:12px;
			line-height:16px;
			color:#2a2123;
			font-weight:bold;
			}
		
	
#page-stat {
	height:660px;
	}
	#page-stat .page-header {
		margin-left:-25px;
		width:900px;
		}
		#page-stat .page-header .curve-left {
			width:210px;
			margin-left:30px;
			background-position:-5px 0;
			}
		#page-stat .page-header .curve-right {
			width:240px;
			background-position:-11px 0;
			}
	#page-stat .title {
		width:379px;
		height:44px;
		background:url(../img/title/stat.png) 0 0 no-repeat;
		text-indent:-9999px;
		}
	#page-stat .page-footer {
		width:860px;
		}
		#page-stat .page-footer .curve { background-position:-25px 0; }
		
	
	#page-stat .stat-hidden {
		width:860px;
		margin:50px auto;
		text-align:center;
		}
		
	.stat-list {
		width:600px;
		margin:50px auto;
		}
		.stat-row {
			width:100%;
			padding:10px 0;
			}
			.stat-row:after {
				content:'';
				display:block;
				clear:both;
				}
			.stat-name {
				float:left;
				width:300px;
				}
				.stat-name span {
					float:left;
					width:30px;
					padding:5px;
					font-size:18px;
					font-weight:bold;
					}
				.stat-name p {
					overflow:hidden;
					font-size:24px;
					}
			.stat-row .stat-rating {
				float:left;
				margin-left:60px;
				}
			.stat-rating {
				width:115px;
				min-height:1px;
				}
				.stat-rating span {
					display:inline-block;
					vertical-align:top;
					width:18px;
					height:22px;
					margin-right:5px;
					background:url(../img/sprite.png) -39px 0 no-repeat;
					}
					.stat-rating span.fill {
						background-position:-20px 0;
						}
			.stat-row  .stat-value {
				float:left;
				margin-left:60px;
				width:65px;
				}
			.stat-value {
				font-family: ArchiveRegular, sans-serif;
				font-size:30px;
				text-align:center;
				}
			
	.stat-row-user {
		border-top:1px solid #fff;
		border-bottom:1px solid #fff;
		}
			
#page-stat .burn-line {
	top:auto;
	bottom:90px;
	height:0;
	background-position:0 100%;
	}
			
#page-euro {
	height:660px;
	}
	#page-euro .burn-dot-big {
		top:-80px;
		margin-left:-15px;
		}
	#page-euro .burn-pic {
		width:412px;
		height:466px;
		margin:-45px 0 0 -188px;
		background:url(../img/burn/euro.jpg) 0 0 no-repeat;
		}
		
		
		
.photo-gallery {
	padding:20px 0 10px;
	}
	.photo-gallery ul:after {
		content:'';
		display:block;
		clear:both;
		}
	.photo-gallery li {
		float:left;
		width:170px;
		height:120px;
		overflow:hidden;
		margin:0 20px 20px 0;
		}
		.photo-gallery li span { display:block; }
		.photo-gallery li img {
			width:100%;
			height:auto;
			}
	
	
.photo-gallery-preview {
	display:none;
	position:relative;
	width:780px;
	height:430px;
	margin:0 auto;
	}
.photo-gallery-preview .photo-wrapper {
	width:540px;
	height:360px;
	margin:0 auto;
	overflow:hidden;
	}
	.photo-gallery-preview .photo-preview {
		position:relative;
		width:540px;
		height:360px;
		overflow:hidden;
		}
		.photo-gallery-preview.video-gallery .photo-preview {
			width:480px;
			margin:0 30px;
			background-color:#000;
			}
			.photo-gallery-preview.video-gallery .photo-preview:after {
				content:'';
				position:absolute;
				top:50%;
				left:50%;
				display:block;
				width:50px;
				height:50px;
				margin:-25px 0 0 -25px;
				background:url(../img/video.png) 0 0 no-repeat;
				}
		.photo-gallery-preview ul {
			
			}
		.photo-gallery-preview li {
			float:left;
			}
			.photo-gallery-preview .photo-preview img {
				width:100%;
				height:auto;
				}
				.photo-gallery-preview.video-gallery .photo-preview img {
					position:absolute;
					top:0;
					left:0;
					}
					.photo-gallery-preview.video-gallery .with-video .photo-preview img {
						display:none;
						}
						.photo-gallery-preview.video-gallery .with-video .photo-preview:after {
							display:none;
							}
				
			
			.photo-data {
				width:550px;
				padding-top:10px;
				margin:0 auto;
				}
				.photo-gallery-preview.video-gallery .photo-data {
					width:490px;
					}
				.photo-data .photo-share {
					float:left;
					width:80px;
					text-align:center;
					}
					.photo-data .ico-share {
						width:100%;
						height:21px;
						margin-top:5px;
						}
						.photo-data .ico-share span {
							display:inline-block;
							width:21px;
							height:21px;
							background-image:url(../img/sprite.png);
							background-repeat:no-repeat;
							cursor:pointer;
							margin:0 2px;
							}
						.photo-data .ico-share .ico-facebook {
							background-position:-58px 0;
							}
						.photo-data .ico-share .ico-vkontakte {
							background-position:-80px 0;
							}
						.photo-data .ico-share .ico-twitter {
							background-position:-102px 0;
							}
						.photo-data .ico-share span {
							display:inline-block;
							width:21px;
							height:21px;
							}
					.photo-data .photo-share span {
						display:inline-block;
						vertical-align:top;
						font-size:11px;
						line-height:12px;
						color:#d0cbc7;
						font-style:italic;
						}
				.photo-data .photo-rating {
					float:right;
					width:115px;
					}
				
	
	.arrow {
		position:absolute;
		top:180px;
		width:19px;
		height:31px;
		background-image:url(../img/sprite.png);
		background-repeat:no-repeat;
		margin-top:-16px;
		cursor:pointer;
		}
		.arrow-prev {
			left:30px;
			background-position:0 -23px;
			}
		.arrow-next {
			right:30px;
			background-position:-20px -23px;
			}
	
	
	
.popup-show {
	cursor:pointer;
	}
#popup {
	display:none;
	position:fixed;
	z-index:10;
	top:50%;
	left:50%;
	width:860px;
	height:540px;
	margin:-304px 0 0 -440px;
	padding:9px;
	border:1px solid #32282b;
	}
	.popup-container {
		width:860px;
		height:540px;
		background-color:#32282b;
		text-align:center;
		}
	.popup-title {
		position:relative;
		display:inline-block;
		vertical-align:top;
		
		width:auto;
		min-width:380px;
		padding:0 10px;
		/*height:45px;*/
		
		border-top:1px solid #d0cbc7;
		border-bottom:2px solid #d0cbc7;
		
		margin:15px auto 17px;
		}
		.popup-title h2 {
			font-size:30px;
			line-height:30px;
			padding:10px 0 5px;
			}
			.popup-title h2 span {
				display:block;
				font-size:18px;
				line-height:18px;
				}
			.popup-title div {
				position:absolute;
				top:-6px;
				left:0;
				width:100%;
				height:11px;
				}
				.popup-title div span {
					display:inline-block;
					vertical-align:top;
					background-color:#32282b;
					padding:0 10px;
					font-size:11px;
					line-height:11px;
					font-style:italic;
					}
					
	.popup-content {
		display:none;
		text-align:left;
		}
					
	.popup-text {
		padding:20px 0;
		margin-right:40px;
		}
		.popup-text p {
			margin-bottom:20px;
			font-size:12px;
			line-height:18px;
			color:#fff;
			}
			.popup-text p em {
				font-size:11px;
				color:#d0cbc7;
				font-style:italic;
				}
		.popup-text ol {
			list-style:decimal;
			margin-left:40px;
			}
			.popup-text li {
				margin-bottom:20px;
				font-size:12px;
				line-height:18px;
				color:#fff;
				}
				
		.popup-text a {
			color: #f6642d;
			}
			.popup-text a:hover { text-decoration:none; }
	
	
	.close {
		position:absolute;
		top:20px;
		right:20px;
		width:12px;
		height:12px;
		background:url(../img/sprite.png) 0 -10px no-repeat;
		cursor:pointer;
		}
	.back {
		display:none;
		position:absolute;
		top:20px;
		left:20px;
		width:8px;
		height:12px;
		background:url(../img/sprite.png) -41px -42px no-repeat;
		cursor:pointer;
		}
	
	
.form {
	text-align:center;
	
	}
	.form-error {
		display:none;
		font-size: 12px;
		line-height: 18px;
		font-weight:bold;
		color:#f6642d;
		}
	.form-field {
		width:561px;
		height:40px;
		background:url(../img/input.png);
		margin:30px auto 0;
		}
	.form-field input {
		width:555px;
		height:34px;
		background-color:transparent;
		border:3px solid transparent;
		font-size:18px;
		color:#30272a;
		text-transform:uppercase;
		text-align:center;
		}
		.ie .form-field input {
			line-height:34px;
			}
		.form-field input.invalid {border:3px solid #f6642d; }
		.form ::-webkit-input-placeholder { color:#30272a; }
		.form :-moz-placeholder { color:#30272a; }
		.form .placeholder { color:#30272a; }
	
	.form-checkbox {
		margin-top:15px;
		font-size:12px;
		color:#fff;
		}
		.form-checkbox span {
			display:inline-block;
			padding:2px 3px 1px 2px;
			margin-right:5px;
			}
			.form-checkbox span.invalid {background-color:#f6642d; }
		
	.form-button {
		position:relative;
		margin:30px 0 0;
		}
		
	.loader {
		position:absolute;
		left:50%;
		top:-1px;
		display:none;
		vertical-align:top;
		width:32px;
		height:32px;
		background:url(../img/loader-small.gif) 0 0 no-repeat;
		/*margin-left:90px;*/
		margin-left:-16px;
		}
		.form-loading .loader {
			display:block;
			}
		.form-loading button {
			display:none;
			}
	
	
	
#popup-auth .form { padding-top:60px; }
#popup-auth h3 { margin-top:60px; }
	#popup-auth h3 span { border-bottom:1px dashed #fff; }
		#popup-auth h3 span:hover { border-bottom:0; }
	
#popup-reg .form .form-field { margin-top:20px; }
	
#popup-reg-ok .popup-text {
	width:420px;
	margin:0 auto;
	text-align:center;
	}
	#popup-reg-ok .popup-text p { padding-left:10px; padding-right:10px; }
#popup-reg-ok h3 {
	padding:50px 0;
	font-size:30px;
	}
#popup-reg-ok .button { margin-top:50px; }

#popup-email-ok .popup-text {
	width:420px;
	margin:0 auto;
	text-align:center;
	}
	#popup-email-ok .popup-text p { padding-left:10px; padding-right:10px; }
#popup-email-ok h3 {
	padding:50px 0;
	font-size:30px;
	}
#popup-email-ok .button { margin-top:50px; }
	
	
	
.popup-contest .form { padding-top:10px; }
.popup-contest .form-button { margin-top:20px; } 
.popup-contest .stage-number { margin-right:5px; }
.popup-contest .form-file { margin:0 auto 20px; }
.popup-contest .form-field { margin:10px auto 40px; }
.popup-contest label {
	display:block;
	font-size:12px;
	line-height:18px;
	color:#fff;
	padding-bottom:10px;
	}
.popup-contest .popup-text {
	width:400px;
	padding:10px 0;
	margin:0 auto;
	}

.popup-contest .form-error {margin-bottom:10px;}
.popup-contest .form-result { display:none; }

.popup-contest-photo .progress {
	position:relative;
	width:400px;
	height:24px;
	border:1px solid #fff;
	margin:0 auto 40px;
	}
	.popup-contest-photo .progress span {
		display:block;
		background-color: #f6642d;
		width:0%;
		height:24px;
		}
	.popup-contest-photo .progress h3 {
		position:absolute;
		display:inline-block;
		top:0;
		left:48%;
		font-size:18px;
		line-height:24px;
		color:#fff;
		margin:0;
		padding:0;
		}

	
	
	
.contest-result {
	display:none;
	width:600px;
	padding-top:40px;
	margin:0 auto;
	text-align:center;
	}
	.contest-res-block {
		padding-top:60px;
		text-align:left;
		}
	.contest-res-photo {
		float:left;
		width:240px;
		}
		.contest-res-photo img { width:100%; height:auto; }
	.contest-res-data {
		margin-left:240px;
		padding:10px 0 0 40px;
		}
		.contest-res-data h3 { padding-top:10px; }
		.contest-res-data h3.total { padding-top:20px; color:#f6642d; }
		

		
.social-block {
	clear: both;
	width: 600px;
	margin: 0 auto;
	padding-top: 260px;
	text-align:center;
	}
	.social-block .sb {
		display:inline-block;
		vertical-align:top;
		margin:0 10px;
		}
	
	
.finished {
	display:none;
	position:absolute;
	top:590px;
	left:50%;
	width:320px;
	height:59px;
	margin-left:-155px;
	background:url(../img/lenta.png) 0 0 no-repeat;
	text-indent:-9999px;
	}
	
	
.scroll-text {
	position:relative;
	width:780px;
	height:440px;
	margin:0 auto;
	}
	.scroll-text:before {
		content:'';
		position:absolute;
		z-index:2;
		display:block;
		width:100%;
		height:30px;
		top:0;
		left:0;
		background:url('../img/grad-top.png') 0 0 repeat-x;
		}
	.scroll-text:after {
		content:'';
		position:absolute;
		display:block;
		width:100%;
		height:30px;
		bottom:0;
		left:0;
		background:url('../img/grad-bottom.png') 0 0 repeat-x;
		border-bottom:10px solid #32282b;
		}
		.scroll-text-top:before {display:none;}
		.scroll-text-bottom:after {display:none;}
		.scroll-text.disable:before {display:none;}
		.scroll-text.disable:after {display:none;}
	
	.scroll-text .viewport { width:100%; height:100%; overflow:hidden; position:relative; margin:0 auto; }
	.scroll-text .overview { width:100%; position:absolute; left:0; top:0; }
	
	.scroll-text .scrollbar{ position:absolute; z-index:2; right:-6px; top:0; width:16px; }
	.scroll-text .track { height:100%; width:16px; position:relative; cursor:pointer; }
		.scroll-text .track:before { content:''; position:absolute; left:6px; top:0; width:4px; height:100%; background-color:#62595a; }
		.scroll-text .track:after { content:''; position:absolute; left:6px; bottom:0; width:4px; height:20px; background-color:#32282b; }
	.scroll-text .thumb { height:0; width:4px; position:absolute; z-index:2; top:0; left:0; }
		.scroll-text .thumb:after { content:''; position:absolute; height:41px; width:49px; cursor:pointer; overflow:hidden; position:absolute; top:-16px; left:-24px; background:url(../img/ico-saw.png) 0 0 no-repeat; }
	.scroll-text .disable { display:none; }