.catalogue-menu i {
display: block;
background-image: url(/media/catalogue/k_icons_all.png?v=6);
background-repeat: no-repeat;
width: 16px;
height: 16px;
background-position: 0px 0;
position: absolute;
left: 2px;
top: 2px;
}
.catalogue-menu a i {
}
.catalogue-menu a:hover i {
}
.catalogue-menu a:active i {
}

/*48 80 112 144 176 208*/
/*45 75 105 135 165 195*/
.catalogue-menu i#group-icon-6018 {background-position:  -15px -15px;}
.catalogue-menu i#group-icon-5098 {background-position:  -45px -15px;}
.catalogue-menu i#group-icon-3336 {background-position:  -75px -15px;}
.catalogue-menu i#group-icon-5114 {background-position: -105px -15px;}
.catalogue-menu i#group-icon-2730 {background-position: -165px -15px;}
.catalogue-menu i#group-icon-7701 {background-position: -195px -15px;}
.catalogue-menu i#group-icon-1915 {background-position: -225px -15px;}
.catalogue-menu i#group-icon-4947 {background-position: -255px -15px;}
.catalogue-menu i#group-icon-5593 {background-position: -285px -15px;}
.catalogue-menu i#group-icon-5152 {background-position: -1244px -15px;}
.catalogue-menu i#group-icon-5593 {background-position: -285px -15px;}
.catalogue-menu i#group-icon-7752 {background-position: -316px -15px;}
.catalogue-menu i#group-icon-1932 {background-position: -346px -15px;}
.catalogue-menu i#group-icon-1888 {background-position: -375px -15px;}
.catalogue-menu i#group-icon-5087 {background-position: -405px -15px;}
.catalogue-menu i#group-icon-3837 {background-position: -435px -15px;}
.catalogue-menu i#group-icon-2091 {background-position: -465px -15px;}
.catalogue-menu i#group-icon-683  {background-position: -495px -15px;}
.catalogue-menu i#group-icon-5167 {background-position: -525px -15px;}
.catalogue-menu i#group-icon-1992 {background-position: -556px -15px;}
.catalogue-menu i#group-icon-1948 {background-position: -585px -15px;}
.catalogue-menu i#group-icon-4213 {background-position: -615px -15px;}
.catalogue-menu i#group-icon-6374 {background-position: -646px -15px;}
.catalogue-menu i#group-icon-4457 {background-position: -676px -15px;}
.catalogue-menu i#group-icon-2037 {background-position: -705px -15px;}
.catalogue-menu i#group-icon-2073 {background-position: -735px -15px;}
.catalogue-menu i#group-icon-5601 {background-position: -765px -15px;}
.catalogue-menu i#group-icon-1849 {background-position: -795px -15px;}
.catalogue-menu i#group-icon-1966 {background-position: -825px -15px;}
.catalogue-menu i#group-icon-3673 {background-position: -856px -15px;}
.catalogue-menu i#group-icon-5686 {background-position: -918px -15px;}
.catalogue-menu i#group-icon-7885 {background-position: -945px -15px;}
.catalogue-menu i#group-icon-8183 {background-position: -975px -15px;}
.catalogue-menu i#group-icon-7970 {background-position:-1005px -15px;}
.catalogue-menu i#group-icon-8210 {background-position:-1035px -15px;}
.catalogue-menu i#group-icon-8518 {background-position:-1066px -15px;}
.catalogue-menu i#group-icon-8669 {background-position:-1095px -15px;}
.catalogue-menu i#group-icon-7417 {background-position:-1124px -15px;}
.catalogue-menu i#group-icon-8863 {background-position:-1155px -15px;}
.catalogue-menu i#group-icon-8882 {background-position:-1185px -15px;}
.catalogue-menu i#group-icon-9112 {background-position:-1215px -15px;}
.catalogue-menu i#group-icon-9372 {background-position:-1275px -15px;}
.catalogue-menu i#group-icon-9385 {background-position:-1305px -15px;}
.catalogue-menu i#group-icon-6102 {background-position:-1335px -15px;}

.catalogue-menu a i#group-icon-6018 {background-position:  -15px -105px;}
.catalogue-menu a i#group-icon-5098 {background-position:  -45px -105px;}
.catalogue-menu a i#group-icon-3336 {background-position:  -75px -105px;}
.catalogue-menu a i#group-icon-5114 {background-position: -105px -105px;}
.catalogue-menu a i#group-icon-2730 {background-position: -165px -105px;}
.catalogue-menu a i#group-icon-7701 {background-position: -195px -105px;}
.catalogue-menu a i#group-icon-1915 {background-position: -225px -105px;}
.catalogue-menu a i#group-icon-4947 {background-position: -255px -105px;}
.catalogue-menu a i#group-icon-5593 {background-position: -285px -105px;}
.catalogue-menu a i#group-icon-5152 {background-position: -1244px -105px;}
.catalogue-menu a i#group-icon-5593 {background-position: -285px -105px;}
.catalogue-menu a i#group-icon-7752 {background-position: -316px -105px;}
.catalogue-menu a i#group-icon-1932 {background-position: -346px -105px;}
.catalogue-menu a i#group-icon-1888 {background-position: -375px -105px;}
.catalogue-menu a i#group-icon-5087 {background-position: -405px -105px;}
.catalogue-menu a i#group-icon-3837 {background-position: -435px -105px;}
.catalogue-menu a i#group-icon-2091 {background-position: -465px -105px;}
.catalogue-menu a i#group-icon-683  {background-position: -495px -105px;}
.catalogue-menu a i#group-icon-5167 {background-position: -525px -105px;}
.catalogue-menu a i#group-icon-1992 {background-position: -556px -105px;}
.catalogue-menu a i#group-icon-1948 {background-position: -585px -105px;}
.catalogue-menu a i#group-icon-4213 {background-position: -615px -105px;}
.catalogue-menu a i#group-icon-6374 {background-position: -646px -105px;}
.catalogue-menu a i#group-icon-4457 {background-position: -676px -105px;}
.catalogue-menu a i#group-icon-2037 {background-position: -705px -105px;}
.catalogue-menu a i#group-icon-2073 {background-position: -735px -105px;}
.catalogue-menu a i#group-icon-5601 {background-position: -765px -105px;}
.catalogue-menu a i#group-icon-1849 {background-position: -795px -105px;}
.catalogue-menu a i#group-icon-1966 {background-position: -825px -105px;}
.catalogue-menu a i#group-icon-3673 {background-position: -856px -105px;}
.catalogue-menu a i#group-icon-5686 {background-position: -918px -105px;}
.catalogue-menu a i#group-icon-7885 {background-position: -945px -105px;}
.catalogue-menu a i#group-icon-8183 {background-position: -975px -105px;}
.catalogue-menu a i#group-icon-7970 {background-position:-1005px -105px;}
.catalogue-menu a i#group-icon-8210 {background-position:-1035px -105px;}
.catalogue-menu a i#group-icon-8518 {background-position:-1066px -105px;}
.catalogue-menu a i#group-icon-8669 {background-position:-1095px -105px;}
.catalogue-menu a i#group-icon-7417 {background-position:-1124px -105px;}
.catalogue-menu a i#group-icon-8863 {background-position:-1155px -105px;}
.catalogue-menu a i#group-icon-8882 {background-position:-1185px -105px;}
.catalogue-menu a i#group-icon-9112 {background-position:-1215px -105px;}
.catalogue-menu a i#group-icon-9372 {background-position:-1275px -105px;}
.catalogue-menu a i#group-icon-9385 {background-position:-1305px -105px;}
.catalogue-menu a i#group-icon-6102 {background-position:-1335px -105px;}

.catalogue-menu a:hover i#group-icon-6018 {background-position:  -15px -135px;}
.catalogue-menu a:hover i#group-icon-5098 {background-position:  -45px -135px;}
.catalogue-menu a:hover i#group-icon-3336 {background-position:  -75px -135px;}
.catalogue-menu a:hover i#group-icon-5114 {background-position: -105px -135px;}
.catalogue-menu a:hover i#group-icon-2730 {background-position: -165px -135px;}
.catalogue-menu a:hover i#group-icon-7701 {background-position: -195px -135px;}
.catalogue-menu a:hover i#group-icon-1915 {background-position: -225px -135px;}
.catalogue-menu a:hover i#group-icon-4947 {background-position: -255px -135px;}
.catalogue-menu a:hover i#group-icon-5593 {background-position: -285px -135px;}
.catalogue-menu a:hover i#group-icon-5152 {background-position: -1244px -135px;}
.catalogue-menu a:hover i#group-icon-5593 {background-position: -285px -135px;}
.catalogue-menu a:hover i#group-icon-7752 {background-position: -316px -135px;}
.catalogue-menu a:hover i#group-icon-1932 {background-position: -346px -135px;}
.catalogue-menu a:hover i#group-icon-1888 {background-position: -375px -135px;}
.catalogue-menu a:hover i#group-icon-5087 {background-position: -405px -135px;}
.catalogue-menu a:hover i#group-icon-3837 {background-position: -435px -135px;}
.catalogue-menu a:hover i#group-icon-2091 {background-position: -465px -135px;}
.catalogue-menu a:hover i#group-icon-683  {background-position: -495px -135px;}
.catalogue-menu a:hover i#group-icon-5167 {background-position: -525px -135px;}
.catalogue-menu a:hover i#group-icon-1992 {background-position: -556px -135px;}
.catalogue-menu a:hover i#group-icon-1948 {background-position: -585px -135px;}
.catalogue-menu a:hover i#group-icon-4213 {background-position: -615px -135px;}
.catalogue-menu a:hover i#group-icon-6374 {background-position: -646px -135px;}
.catalogue-menu a:hover i#group-icon-4457 {background-position: -676px -135px;}
.catalogue-menu a:hover i#group-icon-2037 {background-position: -705px -135px;}
.catalogue-menu a:hover i#group-icon-2073 {background-position: -735px -135px;}
.catalogue-menu a:hover i#group-icon-5601 {background-position: -765px -135px;}
.catalogue-menu a:hover i#group-icon-1849 {background-position: -795px -135px;}
.catalogue-menu a:hover i#group-icon-1966 {background-position: -825px -135px;}
.catalogue-menu a:hover i#group-icon-3673 {background-position: -856px -135px;}
.catalogue-menu a:hover i#group-icon-5686 {background-position: -918px -135px;}
.catalogue-menu a:hover i#group-icon-7885 {background-position: -945px -135px;}
.catalogue-menu a:hover i#group-icon-8183 {background-position: -975px -135px;}
.catalogue-menu a:hover i#group-icon-7970 {background-position:-1005px -135px;}
.catalogue-menu a:hover i#group-icon-8210 {background-position:-1035px -135px;}
.catalogue-menu a:hover i#group-icon-8518 {background-position:-1066px -135px;}
.catalogue-menu a:hover i#group-icon-8669 {background-position:-1095px -135px;}
.catalogue-menu a:hover i#group-icon-7417 {background-position:-1124px -135px;}
.catalogue-menu a:hover i#group-icon-8863 {background-position:-1155px -135px;}
.catalogue-menu a:hover i#group-icon-8882 {background-position:-1185px -135px;}
.catalogue-menu a:hover i#group-icon-9112 {background-position:-1215px -135px;}
.catalogue-menu a:hover i#group-icon-9372 {background-position:-1275px -135px;}
.catalogue-menu a:hover i#group-icon-9385 {background-position:-1305px -135px;}
.catalogue-menu a:hover i#group-icon-6102 {background-position:-1335px -135px;}

.catalogue-menu a:active i#group-icon-6018 {background-position:  -15px -75px;}
.catalogue-menu a:active i#group-icon-5098 {background-position:  -45px -75px;}
.catalogue-menu a:active i#group-icon-3336 {background-position:  -75px -75px;}
.catalogue-menu a:active i#group-icon-5114 {background-position: -105px -75px;}
.catalogue-menu a:active i#group-icon-2730 {background-position: -165px -75px;}
.catalogue-menu a:active i#group-icon-7701 {background-position: -195px -75px;}
.catalogue-menu a:active i#group-icon-1915 {background-position: -225px -75px;}
.catalogue-menu a:active i#group-icon-4947 {background-position: -255px -75px;}
.catalogue-menu a:active i#group-icon-5593 {background-position: -285px -75px;}
.catalogue-menu a:active i#group-icon-5152 {background-position: -1244px -75px;}
.catalogue-menu a:active i#group-icon-5593 {background-position: -285px -75px;}
.catalogue-menu a:active i#group-icon-7752 {background-position: -316px -75px;}
.catalogue-menu a:active i#group-icon-1932 {background-position: -346px -75px;}
.catalogue-menu a:active i#group-icon-1888 {background-position: -375px -75px;}
.catalogue-menu a:active i#group-icon-5087 {background-position: -405px -75px;}
.catalogue-menu a:active i#group-icon-3837 {background-position: -435px -75px;}
.catalogue-menu a:active i#group-icon-2091 {background-position: -465px -75px;}
.catalogue-menu a:active i#group-icon-683  {background-position: -495px -75px;}
.catalogue-menu a:active i#group-icon-5167 {background-position: -525px -75px;}
.catalogue-menu a:active i#group-icon-1992 {background-position: -556px -75px;}
.catalogue-menu a:active i#group-icon-1948 {background-position: -585px -75px;}
.catalogue-menu a:active i#group-icon-4213 {background-position: -615px -75px;}
.catalogue-menu a:active i#group-icon-6374 {background-position: -646px -75px;}
.catalogue-menu a:active i#group-icon-4457 {background-position: -676px -75px;}
.catalogue-menu a:active i#group-icon-2037 {background-position: -705px -75px;}
.catalogue-menu a:active i#group-icon-2073 {background-position: -735px -75px;}
.catalogue-menu a:active i#group-icon-5601 {background-position: -765px -75px;}
.catalogue-menu a:active i#group-icon-1849 {background-position: -795px -75px;}
.catalogue-menu a:active i#group-icon-1966 {background-position: -825px -75px;}
.catalogue-menu a:active i#group-icon-3673 {background-position: -856px -75px;}
.catalogue-menu a:active i#group-icon-5686 {background-position: -918px -75px;}
.catalogue-menu a:active i#group-icon-7885 {background-position: -945px -75px;}
.catalogue-menu a:active i#group-icon-8183 {background-position: -975px -75px;}
.catalogue-menu a:active i#group-icon-7970 {background-position:-1005px -75px;}
.catalogue-menu a:active i#group-icon-8210 {background-position:-1035px -75px;}
.catalogue-menu a:active i#group-icon-8518 {background-position:-1066px -75px;}
.catalogue-menu a:active i#group-icon-8669 {background-position:-1095px -75px;}
.catalogue-menu a:active i#group-icon-7417 {background-position:-1124px -75px;}
.catalogue-menu a:active i#group-icon-8863 {background-position:-1155px -75px;}
.catalogue-menu a:active i#group-icon-8882 {background-position:-1185px -75px;}
.catalogue-menu a:active i#group-icon-9112 {background-position:-1215px -75px;}
.catalogue-menu a:active i#group-icon-9372 {background-position:-1275px -75px;}
.catalogue-menu a:active i#group-icon-9385 {background-position:-1305px -75px;}
.catalogue-menu a:active i#group-icon-6102 {background-position:-1335px -75px;}